<div class= 'container'>
  <h1>Lists</h1>

  <div class=''>
    <% @lists.each do |list| %>
      <div class="card" >
        <%= link_to list_path(list) do%>
          <div class="list-card">
              <h2><%= list.name %></h2>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
