<div class="navbar-lewagon">
  <div>
      <%= image_tag "movie-icon.png", alt: "Movie", width: 50 %>
  </div>
  <div>
    <%= link_to 'Check my lists', lists_path  %> |
    <%= link_to 'Add a new list', new_list_path  %>
  </div>
</div>
