<div class="navbar-lewagon">
  <div>
      <%  %>
      <%= link_to image_tag("popcorn.png", alt: "Movie", width: 60), root_path  %>
  </div>
  <div>
    <%= link_to 'My lists', lists_path  %> |
    <%= link_to 'Add a new list', new_list_path  %>
  </div>
</div>
