.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5b5b5b;
  padding: 8px 16px;
  color: white;
}

.navbar-lewagon a {
  color: white;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search {
  width: 300px;
  form {
    display: flex;
  }
}
