.navbar-lewagon {
  display: flex;
  align-items: center;
  background: rgba(40,40,40,0.9);
  padding: 8px 16px;
  color: white;
  position: fixed;
  top: 0%;
  z-index: 3;
  width: 100%;
}

.navbar-lewagon a {
  color: white;
  text-decoration: none;
  margin-right: 34px;

  i {
    margin-left: 4px;
    font-style: initial;
    font-size: 20px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search {
  width: 300px;
  form {
    display: flex;
  }
}

.navbar-category {
  display: flex;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #10ea96;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
