.navbar-lewagon {
  display: flex;
  align-items: center;
  background: rgba(40,40,40,0.9);
  padding: 8px 16px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 3;
}

.navbar-lewagon a {
  color: white;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search {
  width: 300px;
  form {
    display: flex;
  }
}
