// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.swiper {

  &-container {
    position: relative;
    overflow: hidden;

  }

  &-wrapper {
    padding: 18px 0 18px 16px;
  }
}


.movies-show {

  &-like {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-top: 8px;
    margin-left: 6%;

    img {
      border-radius: 8px;
      height: auto;
      width: 100%;
      }

    &-infos {
      position: absolute;
      top: 0px;
      right: -65%;
      width: 65%;
      height: fit-content;
      text-align: justify;
      text-justify: inter-word;
      padding: 0 12px 12px 12px;
    }
  }

  &-list {
    margin-top: 1rem;
  }

  &-card {
    width: 95%;
    position: relative;

    &-buttons {
      position: absolute;
      right: 12px;
      bottom: 6px;

      i {
        font-size: 20px;
      }
    }

    &-rating {
      margin-top: -4px;
      margin-bottom: 8px;

      i {
        font-size: 14px;
      }
    }

    &-infos {
      background-color: rgba(0, 0, 0, 0.6);
      height: 0%;
      overflow: hidden;
      position: absolute;
      bottom: 0%;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      transition: all 0.3s ease-in;
    }

    img {
      border-radius: 8px;
      height: auto;
      width: 100%;
      object-fit: cover;
      }


  }
}

.movie-show-arrows {
  z-index: 10;
  position: absolute;
  opacity: 0.4;
  font-size: 32px;
  transition: all 0.2s ease-in;
  padding: 24px 12px;
  border-radius: 4px;

  &:hover {
    opacity: 0.6;
    background-color: black;
  }
}

.button-prev {
  left: 0.5%;
  top: 30%;

  &-like {
    left: 0.5%;
    top: 32%;
  }

}

.button-next {
  right: 0.5%;
  top: 30%;

  &-like {
    right: 0.5%;
    top: 32%;
  }
}

.swiper-button-disabled {
  display: none;
}

.card-movie-button {
  color: white;
  font-size: 20px;

  &:hover {
    opacity: 0.8;
  }
}
